@keyframes spin {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

@keyframes background-transform {
    0% {
        
    }

    100% {
        background-color: #11FF00;
    }
}

@keyframes icon-appear {
    0% {
        display: none;
    }

    100% {
        display: flex;
        background-color: #11FF00;
    }
}

body {
    height: 100vh;
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    display: flex;
    font-family: helvetica,sans-serif;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    
}

.btn-primary {
    height: 56px;
    width: 250px;
    border-radius: 0.25rem;
    padding: 12px;
    border: none;
    border: 2px solid white;


    display: flex;
    align-items: center;
    justify-content: center;

    

}
.um{
    background-color: #ff6400;

    animation: background-transform 400ms linear;
    animation-fill-mode: forwards;
    animation-delay: 2s;

    position: relative;
    
}
.dois{
    background-color: red;

    animation: background-transform 400ms linear;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    position: relative;
    
}
.tres{
    background-color: purple;

    animation: background-transform 400ms linear;
    animation-fill-mode: forwards;
    animation-delay: 4s;

    position: relative;
    
}

.loading-spinner {
    width: 24px;
    height: 24px;


    border: 3px solid black;
    border-radius: 50%;
    border-bottom-color: #afafaf;

    animation: spin 2s linear infinite;
}

.check-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #11FF00;

    
}

.icon-um{
    animation: icon-appear 400ms;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}
.icon-dois{
    animation: icon-appear 400ms;
    animation-timing-function: ease-in-out;
    animation-delay: 4s;
    animation-fill-mode: backwards;
}
.icon-tres{
    animation: icon-appear 400ms;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
    animation-fill-mode: backwards;
}